<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <form method="get" action="Name.cshtml?name=name">
            <input type="text" name="name"/>
            <input type="submit" />
        </form>
    </body>
</html>
